body {
  background: black;
  color: #05c705;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0; 
  text-align: center;
  font-weight: 400;
}

button {
  font-family: 'Press start 2P', cursive;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  background: #00b800;
}

h1 {
  font-size: 20px;
  text-align: center;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  border: 3px solid black;
  width: 60%;
  height: 200px;
  background: #00b800;
  padding: 10px;
  margin: 0 auto;
  outline: none;
}